@import '../../scss/colors.scss';
/* Tabs*/
.section {
  padding: 60px 0;
}

.section .section-title {
    text-align: center;
    //color: #007b5e;
    margin-bottom: 50px;
    text-transform: uppercase;
}

//#tabs{
//	background: #007b5e;
//color: $white;
//}
.section h6.section-title {
  color: $white;
}

.section .nav-tabs .nav-link.active,
.section .nav-tabs .nav-link.active:hover {
    color: #f3f3f3;
    background-color: transparent;
    border-color: transparent transparent #f3f3f3;
    border-bottom: 4px solid !important;
    font-size: 20px;
    font-weight: bold;
}

.section .nav-tabs .nav-link,
.section .nav-tabs .nav-link:hover {
    border: 1px solid transparent;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
  color: $white;
    font-size: 20px;
    cursor: pointer;
}

.light.section .nav-tabs .nav-link,
.light.section .nav-tabs .nav-link:hover {
  color: $gray-700;
}
